*.pyc
*.pyd
*.so
*.nfs*
src/*/_c/*.c
src/*/_c/*.html
src/*/scoring/_c/*.c
src/*/scoring/_c/*.html
/data/
ext/
ref/
.ipynb_checkpoints/
*.json*
*sublime*
build/*
*egg*
Untitled*
htmlcov
.coverage
glycresoft-log
.vscode/
dist/*
build/*